@model MvcLyrics.Models.LatestViewModel


@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Lyrics</h1>
    @Html.Partial("~/Views/Shared/_AbcNav.cshtml")
</div>

<div class="body-content">
    <h1>Search</h1>
    <div>

        @using (Html.BeginForm("Search", "Search", FormMethod.Post))
        {
            <div class="form-group">
                @Html.TextBox("searchString")
                <input type="submit" value="Search" class="btn btn-default" />
                <div class="radio">
                    <label> @Html.RadioButton("SearchBy", "Album", false) Album</label>
                    <label>@Html.RadioButton("SearchBy", "Artist", true) Artist</label>
                    <label>@Html.RadioButton("SearchBy", "Song", false) Song</label>
                </div>
            </div>
        }
    </div>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Latest 10 Songs</h2>
        <p>
            @Html.Partial("~/Views/Shared/_LatestSongs.cshtml", Model.LatestSongs)
        </p>
    </div>
    <div class="col-md-4">
        <h2>Latest 10 Artists</h2>
        <p> @Html.Partial("~/Views/Shared/_LastestArtists.cshtml", Model.LatestArtists)</p>
    </div>
    <div class="col-md-4">
        <h2>Latest 10 Albums</h2>
        <p>@Html.Partial("~/Views/Shared/_LatestAlbums.cshtml", Model.LatestAlbums)</p>
    </div>
</div>