<p id="abcnav" class="lead">
    @Html.ActionLink("A", "Index", "Search", new { id = "A" }, null) |
    @Html.ActionLink("B", "Index", "Search", new { id = "B" }, null) |
    @Html.ActionLink("C", "Index", "Search", new { id = "C" }, null) |
    @Html.ActionLink("D", "Index", "Search", new { id = "D" }, null) |
    @Html.ActionLink("E", "Index", "Search", new { id = "E" }, null) |
    @Html.ActionLink("F", "Index", "Search", new { id = "F" }, null) |
    @Html.ActionLink("G", "Index", "Search", new { id = "G" }, null) |
    @Html.ActionLink("H", "Index", "Search", new { id = "H" }, null) |
    @Html.ActionLink("I", "Index", "Search", new { id = "I" }, null) |
    @Html.ActionLink("J", "Index", "Search", new { id = "J" }, null) |
    @Html.ActionLink("K", "Index", "Search", new { id = "K" }, null) |
    @Html.ActionLink("L", "Index", "Search", new { id = "L" }, null) |
    @Html.ActionLink("M", "Index", "Search", new { id = "M" }, null) |
    @Html.ActionLink("N", "Index", "Search", new { id = "N" }, null) |
    @Html.ActionLink("Ñ", "Index", "Search", new { id = "Ñ" }, null) |
    @Html.ActionLink("O", "Index", "Search", new { id = "O" }, null) |
    @Html.ActionLink("P", "Index", "Search", new { id = "P" }, null) |
    @Html.ActionLink("Q", "Index", "Search", new { id = "Q" }, null) |
    @Html.ActionLink("R", "Index", "Search", new { id = "R" }, null) |
    @Html.ActionLink("S", "Index", "Search", new { id = "S" }, null) |
    @Html.ActionLink("T", "Index", "Search", new { id = "T" }, null) |
    @Html.ActionLink("U", "Index", "Search", new { id = "U" }, null) |
    @Html.ActionLink("V", "Index", "Search", new { id = "V" }, null) |
    @Html.ActionLink("W", "Index", "Search", new { id = "W" }, null) |
    @Html.ActionLink("X", "Index", "Search", new { id = "X" }, null) |
    @Html.ActionLink("Y", "Index", "Search", new { id = "Y" }, null) |
    @Html.ActionLink("Z", "Index", "Search", new { id = "A" }, null) |
    @Html.ActionLink("#", "Index", "Search", new { id = "#" }, null)
</p>